<!-- <% if params[:controller] != "users" %>
  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>Cold chicken claw xo spicy rice noodle roll honey glazed BBQ pork soy sauce chicken roast duck golden pumpkin fries soy sauce duck wings octopus seaweed sauteed string beans beef shank pork.</p>
      <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up  &raquo;</a></p>
    </div>
  </div>
<% end %> -->
