<div class="jumbotron">
  <div class="container">
    <h1>Vagabond</h1>
    <p>Login and enjoy our website</p>
    <p>Where you can travel to San Francisco, London and Gilbraltar by reading user's reviews or create your own post and share your comments on other posts</p>
    <% if !current_user  %>
    <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up  &raquo;</a></p>
    <% end %>
  </div>
</div>
<!-- Example row of columns -->
<div class="container col-md-10 col-md-offset-1">
  <h1>Welcome to Users Index.</h1>
  <div>
    There are currently <%= @users.length %> signed_up
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>San Francisco</h2>
      <p>Discover San Francisco, a west coast city that reaches great heights. Its hills steep, its bridges esteemed, and its vistas incomparable, this energetic bohemian outpost packs a lot into its 7x7 mile environs. San Francisco's neighborhoods and the locals that love them each tell their own story. Take the time to speak with them and you'll learn a lot—you're likely to find a resident that spends the extra time to help you get where you want to go, and then suggests a spot they know that you just might like even better.</p>
      <%= button_to "View Details", city_path(1), :method => "get", class:"btn btn-default" %>
    </div>
    <div class="col-md-4">
      <h2>London</h2>
      <p>At one time it was the largest city in the world. Today, although exceeded by several megacities on different continents, London remains a city that fascinates and attracts millions of visitors each year. And for good reason. It is one of those great " world cities " cosmopolitan centers that offer the visitor not just an unparalleled choice of museums and monuments, but also an unforgettable experience and a change of scenery . London is London , and no other city in the world is like it.</p>
      <%= button_to "View Details", city_path(2), :method => "get", class:"btn btn-default" %>
    </div>
    <div class="col-md-4">
      <h2>Gilbrator</h2>
      <p>Gibraltar is a unique place for the curious traveler. Take time to explore the caves and tunnels especially those not meant for tourists! The inside of the rock is an absolute labyrinth with secret internal roads and tunnels four times longer than those on the surface. Military presence and security in this otherwise deserted area is strong but almost invisible.</p>
      <%= button_to "View Details", city_path(3), :method => "get", class:"btn btn-default" %>
    </div>
  </div>
</div>
