<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_area :text, placeholder: "Text", size:"60x12" %>
  </div>
  <div>
  <%= f.submit "Submit" %>
<% end %>
