<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% @cities.each do |c| %>
        <h1><%=link_to c.name, city_path(c) %></h1>
        <img class="img-responsive" src="<%= c.image %>">
      <% end %>
    </div>
  </div>
</div>
