<h1>Welcome to Cities Index.</h1>
<div>
  There are currently <%= @cities.length %> cities in the database.
</div>
<% @cities.each do |c| %>
<img class="img-responsive" src="<%= c.image %>">
<h3>City Name: <%=link_to c.name, city_path(c) %></h3>
<% end %>
