.navbar{
  margin-bottom:0;
  border: 0px;
  background-color: #20385C;
  color: white;
}

.jumbotron {
  background: image-url('greece.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  color: white;
}

.lgncnt {
            background-color: #365D98;
            width: 430px;
            margin: 100px auto;
            padding: 34px 34px 0px 34px;
            border-radius: 5px;
            box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.46);
        }

.login > div:nth-child(1) {
        }

.login > div:nth-child(1) > i {
            opacity: 0.8;
            display: inline-block;
            height: 32px;
            width: 24px;
            background-position: 0px 0px;
            vertical-align: bottom;
        }

.login > div:nth-child(1) > span {
            color: #fff;
            font-size: 20px;
            display: inline-block;
            padding-left: 6px;
        }

.login > div:nth-child(1) > p {
            padding-left: 35px;
            color: rgba(255, 255, 255, 0.66);
        }

.login > div:nth-child(1) > p > b {
        }

.login > div:nth-child(2) {
            margin-top: 25px;
        }

.login > div:nth-child(2) > input {
            display: block;
            width: 100%;
            border-radius: 21px;
            padding: 10px 15px;
            background-color: #2A4773;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.62) inset;
            color: #fff;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin-bottom: 15px;
        }

.login > div:nth-child(3) {
            color: rgba(255, 255, 255, 0.66);
            font-size: 12px;
            padding-left: 37px;
        }

.login > div:nth-child(3) > input {
            vertical-align: bottom;
        }


.login > div:nth-child(3) > a {
            margin-left: 15px;
        }

.login > div:nth-child(4) {
            text-align: right;
        }

.login > div:nth-child(4) > input {
            cursor: pointer;
            background: #2ea3f2;
            background-image: -webkit-linear-gradient(top, #2ea3f2, #1f7eb5);
            background-image: -moz-linear-gradient(top, #2ea3f2, #1f7eb5);
            background-image: -ms-linear-gradient(top, #2ea3f2, #1f7eb5);
            background-image: -o-linear-gradient(top, #2ea3f2, #1f7eb5);
            background-image: linear-gradient(to bottom, #2ea3f2, #1f7eb5);
            -webkit-border-radius: 36px;
            -moz-border-radius: 36px;
            border-radius: 36px;
            -webkit-box-shadow: 0px 1px 1px #212121;
            -moz-box-shadow: 0px 1px 1px #212121;
            box-shadow: 0px 1px 1px #212121;
            font-family: Arial;
            color: #ffffff;
            font-size: 14px;
            padding: 10px 25px 10px 25px;
            text-decoration: none;
        }

.login > div:nth-child(4) > input:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }


.login > div:nth-child(5) {
            background-color: #20385C;
            margin-left: -34px;
            width: 431px;
            border-radius: 0 0 3px 3px;
            padding: 10px 37px;
            text-align: right;
            color: rgba(255, 255, 255, 0.37);
            margin-top: 20px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
